    /* 
declaration
--VAR_NAME: <declaration-value>;
usage
var(--VAR_NAME) 
*/


/* global scope */

:root {
    /* CSS variables declarations */
    --main-color: rgb(240, 232, 230);
    --better-color: rgb(26, 25, 27);
    --bgc-color: rgb(1, 1, 1);
    --font-size: 30px;
}

body {
    /* use the variables */
    background-color: var(--bgc-color);
}

h1 {
    color: var(--main-color);
    font-size: var(--font-size);
    text-align: center;
    padding: 60px;
}

ul {
    background-color: var(--better-color);
}

ul li {
    border-bottom: 1px solid var(--main-color);
    padding-top: 10px;
}

ul a {
    color: var(--main-color);
}
ul a:hover {
    opacity: 0.4;
}