<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的书单</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="app">
        <div v-if="books.length">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>书籍名称</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>操作</th>
                        <th>ISBN</th>
                        <th>Get</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in books">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.price | showPrice}}</td>

                        <td>
                            <button @click="decrement(index)" v-bind:disabled="item.count <= 1">-</button>
                            {{item.count}}
                            <button @click="increment(index)">+</button>
                        </td>
                        <td>
                            <button @click="removeHandle(index)">移除</button>
                        </td>
                        <td>
                            {{item.isbn}}
                        </td>
                        <td>
                            <a :href="getBook(index)">GET</a>
                        </td>
                        <td>
                            {{item.status}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>总价格：{{totalPrice | showPrice}}</h2>
            <h2>书籍本数：{{books.length}}</h2>
        </div>
        <div v-else>购物车为空</div>


    </div>
    <p>细节处理，price 保留两位小数
        toFixed(2)
        button 有一个属性 disabled 不能点击
    </p>
    <p>基于
        <a href="http://gen.lib.rus.ec/">gen.lib.rus.ec</a>
    </p>
    <script src="./index.js"></script>

</body>

</html>