<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="友链" />
    <meta name="description" content="ChemCode的朋友们" />
    <script src="../framework/vue-2.6.8.js"></script>
    <title>友链</title>
</head>

<body>
    <h1>friend</h1>
    <h2>传说中的友链页面</h2>
    <div id="app">
        <ul>
            <li v-for="site in sites">
                <a 
                v-bind:href="site.url"
                v-bind:title="site.info"
                >{{site.name}}</a>
                
            </li>
        </ul>
        <a 
        v-bind:title="info"
        v-if="seen"
        href="#">
            {{name}}
        </a>

    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                name: 'Google',
                info: "Google is a search engine.",
                seen: true,

                sites: [
                    {

                        info: "Twitter is good.",
                        name: "twitter",
                        url: "https://mobile.twitter.com"
                    },
                    {
                        info: "ins is good.",
                        name: "instagram",
                        url: "https://www.instagram.com/"
                    },
                    {
                        info: "Google is a search engine.",
                        name: "Google",
                        url: "https://google.com"
                    }
                ]
            }
        })


    </script>

</body>

</html>