<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h2>电影：</h2>
        <ul>
            <li v-for="(title, i) in movies"> {{ title }} {{ i }}</li>
        </ul>
        <table>
            <thead>
                <td>英文名</td>
                <td>中文名</td>
            </thead>
            <tbody>
                <tr v-for= "(person, index) in persons">
                    <td>{{index}} {{ person.name }}</td>
                    <td>{{index}} {{ person.title}}</td>
                </tr>
            </tbody>

            
        </table>

        <div v-for="(name, prop, index) in person">{{index}}-{{prop}} : {{ name }}</div>

        <div v-for="(i, index) in 10">{{index}}-{{i}}</div>

        <div v-for="s in 'chemcode'">{{s}}</div>

        <ul>
            <li v-for="n in number">{{n}}</li>
        </ul>
        <button v-on:click="changeNumber()">click me</button>

    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                movies: ['大人物', '鲁邦三世'],
                persons: [
                    {
                        name: 'H',
                        title: '氢'
                    },
                    {
                        name: 'C',
                        title: '碳'
                    }

                ],
                person: {
                    name: 'Chemcode',
                    age: 22
                },
                number: [1,2,3,4,5]
            },

            methods: {
                changeNumber: function() {
                    Vue.set(this.number, 1, 10);
                    this.number[1]=10;
                    alert(this.number[1]);

                }

            }
        })
    </script>

</body>

</html>