<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="password" v-model="password">

        <p v-if="chars > 8">你的字符大于8个</p>
        <p v-else-if="chars > 0">你有几个字符</p>
        <p v-else>你没有字符</p>

        <ol>
            <li v-for="sub in subs">
                {{ sub.name }}
                <ul>
                    <li v-for="item in sub.sub">
                        {{item}}
                    </li>
                </ul>

            </li>
        </ol>

       
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                password: '123',
                chars: '82',
                subs: [
                    {
                        name: "有机",
                        sub: ['苯', '酚']

                    },
                    {
                        name: "无机",
                        sub: ['铁', '钢']

                    },
                    
                ]

            },
            methods: {


            }
        })
    </script>

</body>

</html>