/* reset begin */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  text-align: center;
}
li {
  list-style: none;
}
/* reset end*/


/* body begin */
body {
  background-color: #f0ecec;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  font: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",
  "Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  /* 小米字体 */
}


/* loadings begin */
.loadings {
  position: fixed;
  z-index: 100;       
  width: 0px;
  height: 0px;
}

.loading {
  width: 35px;
  height: 35px;
  animation: loading 2s infinite;
}


@keyframes loading {
  0% {
      opacity: 0.2;
      transform: rotate(0deg);
  }
  50% {
      opacity: 0.8;   
  }
  
  100% {
      opacity: 0.2;
      z-index: -100;
      transform: rotate(360deg);
  }
}
/* ladings end */


/* header begin */
header {
  width: 100%;
  height: 36px;
}
header a {
  display: block;
  width: 100%;
  max-width: 600px;
  position: fixed;
  line-height: 36px;
  background-color: rgb(222, 214, 224);
  text-shadow: 1px 2px 3px #e3dbdb;
  color: #b32aa9;
  box-shadow: 1px 1px 1px #d48282;
  animation: run 3s;
}
@keyframes run {
  0%{
    background-color: #000;
  }
  100%{
    background-color: rgb(222, 214, 224);
  }
}
/* headER end */


/* mingzhan begin */
.mingzhan {
  border: 12px solid #5011e4;
  border-radius: 4px;
  margin-top: 12px;
  box-shadow: 1px 1px 3px #000;
}
.mingzhan ul {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.mingzhan ul li {
  float: left;
  width: 20%;
  height: 38px;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
}
.mingzhan li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* mingzhan end */


/* cool begin */
.cool {
  width: 98%;
  margin: 24px auto 12px auto;
}

.cool ul {
  height: 42px;
  background-color: rgba(242, 241, 247, 0.6);
  margin-bottom: 6px;
}
.cool ul li {
  border-radius: 12px;
  float: left;
  width: 25%;
  line-height: 38px;
}

.cool a {
  display:inline-block;
  width:100%;
  height:100%;
}
.cool a {
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
}
/* cool end */



.go {
  margin: 66px auto 12px;
  font-weight: 700;
  border-top: 6px solid rgb(248, 6, 175);
  border-bottom: 6px solid rgb(248, 6, 175);
  width: 120px;
  height: 36px;
  border-radius: 2px;
  background-color: #f0ecec;
}
.go a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 36px;
  color: rgb(12, 1, 8);
  letter-spacing: 4px;
  text-align: center;
}
/**/


.ex {
  width: 120px;
  border: 1px solid rgb(7, 21, 224);
  padding: 4px 12px;
  margin: 12px 0;
  color: rgb(245, 245, 252);
  background-color: rgb(44, 8, 247);
}

.explore li {
  display: inline-block;
  margin: 12px 2px;

}
.explore a {
  border: 1px solid rgb(241, 235, 235);
  padding: 12px;
  background-color: rgb(46, 25, 238);
  color: rgb(247, 242, 242);
  border-radius: 6%;
  display: inline-block;
  width: 100%;
  height: 100%;
  
}
/**/



/* footer begin */
footer {
  margin: 2px auto 0 auto;
  text-align: center;
  width: 100%;
  /* animation-iteration-count: infinite; */
  border-radius: 0px;
  background:rgba(12, 12, 12, .9);
}
footer p {
  line-height: 24px;
  font-size: 12px;
}

footer a {
  color: rgba(8, 8, 8, 0.6);
  text-shadow:-1px -1px rgba(255, 255, 255, .3); 
  /* color:blue;  */
  text-decoration: underline;
  font-size: 12px;
  
}


/* 被绊的网址(划掉，就是为了区分) */
.banned a {
  color: rgb(250, 6, 6);
  
}
.cool .banned a {
  /* border-bottom: 1px solid rgb(250, 6, 6);
  border-top: 1px solid rgb(250, 6, 6); */
  background-color: rgba(255, 255, 255, 0.6);
}

/* 我自己的url(划掉，就是为了区分) */
.ben a {
  color: #ae15b8;
}

.cool .ben a {
  border-bottom: 1px solid #ae15b8;
  border-top: 1px solid #ae15b8;
  background-color: rgb(44, 8, 247);
  color: rgb(247, 242, 242);
}