/* reset begin */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
li {
  list-style: none;
}
/* reset end*/


/* body begin */
body {
  background-color: #f0ecec;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",
  "Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  /* 小米字体 */
}

/* head begin */

.head_title {
  width: 100%;
  height: 36px;
}

.head_title a {
  display: block;
  width: 100%;
  max-width: 600px;
  position: fixed;
  line-height: 36px;
  text-align: center;
  background-color: rgb(222, 214, 224);
  text-shadow: 1px 2px 3px #e3dbdb;
  text-align: center;
  color: #b32aa9;
  box-shadow: 1px 1px 1px #d48282;
  animation: run 3s;
}

@keyframes run {
  0%{
    background-color: #000;
  }
  100%{
    background-color: rgb(222, 214, 224);
  }
}
/* head end */


/* mingzhan begin */
.mingzhan {
  border: 12px solid #5011e4;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 0px;
  background-size: cover;
  box-shadow: 1px 1px 3px #000;
}
.mingzhan ul {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; 
}
.mingzhan ul li {
  float: left;
  width: 20%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
  /* border-radius: 6px; */
  /* background-color: #000; */
}
.mingzhan li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}



/* mingzhan end */

.cool {
  background-size: cover;
  width: 98%;
  margin: 24px auto 12px auto;
  /* border: 1px solid #000; */
}

.cool ul {
  height:32px;
  background-color: rgba(239, 236, 247, 0.6);
}
.cool ul li {
  border-radius: 12px;
  float:left;
  width:25%;
  height:32px;
  line-height:32px;
  text-align:center;
  overflow:hidden;
  border-bottom: 1px solid #000;
  /* border-right: -10px solid #000; */
}

.cool a {
  display:inline-block;
  width:100%;
  height:100%; 
  text-shadow: 1px 1px 1px rgba(19, 18, 18, .5);
  
}
/* cool end */


/* cold begin */


/* cold end */



/* loadings begin */
.loadings {
  position: fixed;
  z-index: 100;       
  width: 0px;
  height: 0px;
}

.loading {
  width: 35px;
  height: 35px;
  animation: loading 2s infinite;
}


@keyframes loading {
  0% {
      opacity: 0.2;
      transform: rotate(0deg);
  }
  50% {
      opacity: 0.8;   
  }
  
  100% {
      opacity: 0.2;
      z-index: -100;
      transform: rotate(360deg);
  }
}
/* ladings end */


.go {
  margin-top: 24px;
  margin-bottom: 24px; 
  text-align: center;
  font-weight: 700;
  box-shadow: 0 0 4px rgb(196, 188, 188);
  background-color: #FBAB7E;
  background-image: linear-gradient(120deg, #1d06e9 0%, 
  #6f57f5 100%);
  height: 36px;
}
.go a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 36px;
  color: rgb(240, 239, 245);
  letter-spacing: 4px;
}




/**/
.ex {
  width: 120px;
  border: 1px solid rgb(7, 21, 224);
  /* border-top-right-radius: 16px; */
  
  padding: 4px 12px;
  margin: 12px 0;
  color: rgb(245, 245, 252);
  background-color: rgb(44, 8, 247);
}
.explore {

}
.explore li {
  display: inline-block;
  margin: 12px 2px;

}
.explore a {
  border: 1px solid rgb(241, 235, 235);
  padding: 12px;
  background-color: rgb(46, 25, 238);
  color: rgb(247, 242, 242);
  border-radius: 6%;
  
}
/**/



/* footer begin */
footer {
  /* height: 108px; */
  /* line-height: 36px; */
  margin: 2px auto 0 auto;
  text-align: center;
  width: 100%;
  animation-iteration-count: infinite;
  border-radius: 0px;
  background:rgba(12, 12, 12, .9);
}
footer p {
  line-height: 24px;
  font-size: 12px;
}

footer a {
  color: rgba(8, 8, 8, 0.6);
  text-shadow:-1px -1px rgba(255, 255, 255, .3); 
  /* color:blue;  */
  text-decoration: underline;
  font-size: 12px;
  
}
/* footer img {
  width: 60%;
  
} */
/* footer end */



/* 被绊的网址(划掉，就是为了区分) */
.banned a {
  color: rgb(250, 6, 6);
}

/* 我自己的url(划掉，就是为了区分) */
.ben a {
  color: #ae15b8;
}