h1 {
    font-size: 20px;
    text-align: center;
}

/* 修饰比较重要的 */
i {
    color: rgb(3, 28, 250);
}

section {
    margin-top: 24px;
}

.order {
    border-bottom: 1px solid #000;
    border-right: 6px solid #000;
    
}
.content {
    color: rgb(163, 151, 151);
}