* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(241, 239, 239);
	max-width: 600px;
	margin: 0 auto;
	font: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.item16 li::before,
.item18 li::before,
.item19 li::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	/* border: 1px solid #000; */
	vertical-align: middle;

}

.item18 li::before {
	background: url(source/img/2018icon.png);
	background-size: 20px 20px;
	background-position: cover;
}

.item16 li::before,
.item19 li::before {
	background: url(source/img/2019icon.png);
	background-size: 20px 20px;
	background-position: cover;
}


ul {
	padding-left: 6px;
	padding-right: 6px;
}
li {
	list-style: none;
	margin-bottom: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	
}


.creat-time {
	float: right;
	font-size: 12px;
}
a {
	color: black;
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
	padding-left: 6px;
}
a:hover {
	text-decoration: underline;
}


/* 存放在github */
.github a {
	color: blue;
	opacity: .6;
}

/*private model*/
.private a {
	color: rgb(233, 14, 142);
}

/* footer begin */
footer {
	/* position: absolute; */
	width: 100%;
	height: 30px;
	/* background-color: rgb(0, 0, 0); */
	text-align: center;
	max-width: 600px;
	/* border: 1px solid rgb(212, 205, 205);
	box-sizing: border-box; */

	bottom: 0;
	/* padding: 10px; */
}

footer a {
	color: rgb(59, 55, 55);
	line-height: 30px;
	

}
