* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(241, 239, 239);
	max-width: 600px;
	margin: 0 auto;
	font: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.item18 li::before,
.item19 li::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	/* border: 1px solid #000; */
	vertical-align: middle;

}

.item18 li::before {
	background: url(source/img/2018icon.png);
	background-size: 20px 20px;
	background-position: cover;
}

.item19 li::before {
	background: url(source/img/2019icon.png);
	background-size: 20px 20px;
	background-position: cover;
}


ul {
	padding-left: 6px;
	padding-right: 6px;
}
li {
	list-style: none;
	margin-bottom: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
	
}


.creat-time {
	float: right;
	font-size: 12px;
}
a {
	color: black;
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
	padding-left: 6px;
}


/*private model*/
.private a {
	color: rgb(233, 14, 142);
}