body {
    max-width: 600px;
    margin: 0 auto;
}

.demo {
    border: 1px solid rgb(250, 2, 2);
    margin-bottom: 12px;
    
}
.demo-title {
    width: 120px;
    border-bottom: 1px solid rgb(20, 3, 248);
}
.demo-info {
    /* width: 180px; */
    border-bottom: 1px solid #000;
}
.demo-code {
    /* width: 200px; */
    border-bottom: 1px solid #000;
    color: rgb(5, 252, 58);
    background-color: #000;
}