body {
    text-align: left;
    width: 100%;
    /* overflow: hidden; */
    background-color: rgb(236, 225, 225);
}

.m-read-content {
    font-size: 14px;
    color: rgb(10, 10, 10);
    line-height: 31px;
    padding: 15px;
}

.m-read-content h4 {
    font-size: 20px;
    color: #f40;
    letter-spacing: 2px;
    border-bottom: 1px solid #f40;
    margin: 0 0 1em 0;
}

.m-read-content p {
    text-indent: 2em;
    margin: .5em 0;
    letter-spacing: 0px;
    line-height: 24px;
}

.u-tab {
    height: 34px;
    margin: 10px auto;
    line-height: 34px;
    border-radius: 8px;
    border: 1px solid #000;
    font-size: 12px;
    background-color: #000;
    opacity: .9;

}

.u-tab li {
    display: inline-block;
    width: 49%;
    border-right: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.u-tab li:nth-child(2) {
    border-right: none;
}

.m-button-bar {
    width: 70%;
    max-width: 800px;
    margin: 10px auto;
}

.top-nav {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 9999;
    background-color: rgb(28, 12, 247);
}

.icon-back {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 23px;
    height: 23px;
    background-image: url(../imgs/back.png);
    background-size: contain;
}

.nav-title {
    position: absolute;
    top: 14px;
    left: 42px;
    color: #fff;
}


.nav-pannel-bk {
    position: fixed;
    bottom: 70px;
    width: 100%;
    height: 135px;
    z-index: 10000;
    background-color: #000;
    opacity: .9;

}
.nav-pannel {
    position: fixed;
    bottom: 70px;
    height: 135px;
    width: 100%;
    color: #fff;
    z-index: 10000;

}
.child-mod {
    padding: 5px 10px;
    margin: 15px;
}
.child-mod span {
    display: inline-block;
    padding-left: 10px;
    padding-right: 20px; 
    
}
.font-size-button {
    background-color: #f40;
    border: 1px solid #000;
    color: rgb(250, 248, 248);
    border-radius: 16px;
    padding: 5px 40px;
}
.bk-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.bk-container-current {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    top: -2px;
    left: -2px;
    
}
       