.bgbox {
    width: 98%;
    margin: 50px auto;
  }

.bgbox .tab-top {
  width: 98%;
  margin: auto;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
}


.bgbox .tab-top li {
  width: 24%;
  line-height: 40px;
  
  /* display: inline-block; */
  text-align: center;
  letter-spacing: 4px;
  border-top: 6px solid rgb(8, 213, 240);
  background-color: #f0ecec;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* box-shadow: 1px 1px 1px #d48282; */

}
/* .bgbox .tab-top li:nth-child(2) {
  box-sizing: content-box;
  border-left:1px solid #000;
  border-right:1px solid #000;

} */

.bgbox .tabbox .boxlist {
  display: none;
  /* width: 500px; */
  height: 300px;
  /* border: 1px solid #ccc; */
  background: #f0ecec;
  overflow: hidden;

}

.bgbox .tab-top .js-active {
  color: red;
  /* background-color: rgb(5, 5, 5); */
  border-top: 6px solid rgb(240, 120, 8);
  
  
}