<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="blog template" />
    <link rel="stylesheet" href="style/reset.css">
    <title>博客模板</title>
</head>

<body>
    <header>
        <h1>这里是最大的标题博客模板</h1>
        <div class="date">date: 2019-03-22</div>
    </header>
    

    <article>
        <section>
            <h2>这里是章节模块</h2>
            <p>首先我要初始化一下</p>
            <p>其次，主要面向移动端设置max-width：600
                其次，主要面向移动端设置max-width：600
                其次，主要面向移动端设置max-width：600
                其次，主要面向移动端设置max-width：600
            </p>
            <p>

                <a href="https://github.com/AlloyTeam/Mars/blob/master/solutions/font-family.md">字体</a>

            </p>
<div class="code-wrapper">
<pre><code>var demo = 123;
function () {
    return;
}
</code></pre>
</div>

        </section>


        <section>
            <h2>这里是章节模块</h2>
            <p>首先我要初始化一下</p>
            <p>其次，主要面向移动端设置max-width：600
                其次，主要面向移动端设置max-width：600
                其次，主要面向移动端设置max-width：600
                其次，主要面向移动端设置max-width：600
            </p>
            <p>

                <a href="https://github.com/AlloyTeam/Mars/blob/master/solutions/font-family.md">字体</a>

            </p>
        </section>
    </article>

</body>

<!-- 代码高亮
文档地址https://github.com/highlightjs/highlight.js -->
<link rel="stylesheet" href="../../framework/highlight/styles/atom-one-dark.css">
<script src="../../framework/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- 代码高亮 end -->

</html>